* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Lucida Sans','Lucida Sans Regular','Lucida Grande', 
              'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

body {
  background-image: url("/bg.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.container{
  background: rgba(3, 3, 94, 0.582);
  width: 90vw;
  height: 90vh;
  color: white;
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 30px;
  display: flex;
    
}


.loading{
  padding: 50px;
  font-size: 36px;
  border-radius: 10px;
  background-color: rgba(17, 25, 40, 0.9);
}


.list{
  flex: 1;
  max-width: 30%;
  padding: auto;
}


.chat {
  flex: 2;
  max-width: 50%;  
}

.detail {
  flex: 1;
  /* max-width: 20%; */
}
